.custom-badge .mat-badge-content {
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    font-size: 12px; /* Adjust the font size as needed */
    line-height: 24px; /* Adjust the line height as needed */
}

.custom-badge .mat-badge-content {
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    font-size: 12px; /* Adjust the font size as needed */
}